extends layout.pug

block content

  main(role='main')
    div.widthwrapper
      
      aside.sidebar
        div.sidebar_topic
          h3 Trending
          div
            each entry in trendingNotTweets
              div
                div 
                  a(href='#') #{entry.hashtag}
                div #{entry.tweetCount} NotTweets

        div.sidebar_topic
          h3 Trending
          p Unintrusive Social Networking since 2018
      
      section.timeline

        each entry in notTweets
          div.t_entry
            div.t_entry_left
              img.t_entry_avatar(src='/images/aIF6J-S0_bigger.jpg')
            div.t_entry_right
              div.t_entry_header
                span= entry.userName
                span= entry.userHandle
              div= entry.notTweetBody
              div.t_entry_toolbar
                a(href='#')
                  img(src='/images/heart.svg')
                a(href='#')
                  img(src='/images/bookmark.svg')
                a(href='#')
                  img(src='/images/retweet.svg')
